%h2 All Products

= form_tag produce_path, :method => :get, :id => 'produce_form' do
    = hidden_field_tag "product_name_sort", true if @product_name_header
    = hidden_field_tag ":next_delivery_date_sort", true if @date_header
    = submit_tag 'Refresh', :id => 'produce_submit', :class => 'btn btn-primary'

%table#produce.table.table-striped.col-md-12
    %thead
        %tr
            %th{:class => @product_name_header}= link_to 'Product Name', produce_path(:sort => 'product_name'), :id => 'product_name_header'
            %th Next Delivery Date
            %th{:class => @date_header}= link_to 'Next Delivery Date', produce_path(:sort => 'next_delivery'), :id =>  'next_delivery_header'
            %th More Info
    %tbody
        - @produce.each do |produce|
            %tr
                %td= produce.product_name
                %td= produce.quantity
                %td= produce.next_delivery
                %td= link_to "More about #{produce.product_name}", produce_path(produce)

= link_to 'Add new item', new_produce_path